---
import "../styles/global.css"
---

<div class="footer">
    <div class="flex justify-center left-0 bottom-0 text-white p-7 gap-10">
        <h2>KA</h2>
        <h2>Kyra Armstrong</h2>
    </div>
    <div>
        <a href="/contact" class="flex justify-center text-white pb-5 hover:underline">Contact Me</a>
    </div>

</div>

<style>
    .footer {
        position: static;
        background-color: black;
        margin: auto auto;
        width: auto;
    }
</style>