---
// front matter tsx
import "../styles/global.css"
import {Content as About} from '../pages/about.md';

function toggleMenu() {
    const menu = document.getElementById("menu");
    menu?.classList.toggle("change");
}



---



        
<div class="nav-container">
    <a href="/contact">
        <h1 class="menu-h1">KA</h1>
    </a>
    <ul class="nav-content">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="/projects">Projects</a></li>-->
        <li><a href="/insights">Insights</a></li>
        <li><a href="/resume">Resume</a></li>
        <li>
            <a href="/contact" class="contact-button">Contact Me</a>
        </li>
    </ul>
    
</div>




<style>
    .contact-button {
        border: 2px solid var(--secondary-green);
        padding: 5px;
        border-radius: 20px;

    }
    .contact-button li:hover {
        text-decoration: none;
    }
</style>




