---
import "../styles/global.css"
import {ViewTransitions} from 'astro:transitions';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
---
<!-----
centered layout
top navigation
accent color: emerald
max width: never exceed this
horizontal padding on every page
vertical breathing room

layout contains header (name and nav), main content, and footer (simple)
--- -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/KA_logo.png" />
		<link rel="stylesheet" href="../styles/global.css">
		<meta name="generator" content={Astro.generator} />
		<meta name="Portfolio website for computer scientist and prospective lawyer in AI regulation in the US"/>
		<title>Kyra | Portfolio </title>
		<ViewTransitions/>
		
	</head>
	<header>

		<Menu/>
	</header>
	<body>
		<slot />
	</body>

	<Footer/>
</html>


